@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EULA</title>
</head>
    <body>
        <p>
        1. License. “ENGworks” grants to you a nonexclusive, nontransferable and non-assignable
        license to use the Software, solely for the number of concurrent users and level of access that
        you purchased from ENGworks and solely for your internal business purposes. Software as used
        herein includes the specific software version purchased and all maintenance releases, updates,
        and modifications thereto. Except as specifically set forth herein, you shall have no right to use,
        display, modify or publish the Software or any documentation therefore. You acknowledge that
        ENGworks or its licensor(s) are the owners of the Software and any related documentation,
        and that this license to use does not transfer title to any part of the Software, but only the right to
        use the Software pursuant to these license terms.
        </p><br /><p>
        2. Proprietary Rights. ENGworks or its licensors, as applicable, retain all right, title and
        interest in and to the Software and any ENGworks documentation provided or accessed
        hereunder, including without limitation any and all proprietary rights, copyrights, patents,
        trademarks, trade secrets and confidential information. Nothing within this EULA shall
        constitute a waiver of ENGworks's or its assignee's rights under U.S. or international
        copyright law or any other federal or state law. You agree not to copy, reproduce, replicate,
        sublicense, decompile, disassemble, reverse engineer, or create derivative works based on the
        Software.
        </p><br /><p>
        3. DISCLAIMER. ENGworks DOES NOT WARRANT THAT THE SOFTWARE WILL
        OPERATE UNINTERRUPTED, ERROR FREE OR SECURELY. ENGworks MAKES
        NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
        ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
        PARTICULAR PURPOSE.
        </p><br /><p>
        4. Additional Software/Services. This EULA applies to updates, supplements, add-on
        components, or Internet-based services components, of the Software that ENGworks may
        provide to you or make available to you after the date you obtain your initial copy of the
        Software, unless they are accompanied by separate terms. ENGworks reserves the right to
        discontinue Internet-based services provided to you or made available to you through the use
        of the Software. Nothing contained herein shall obligate ENGworks to provide any updates,
        enhancements or support services in connection with the Software.
        </p><br /><p>
        5. Term and Termination. The license shall commence upon your acceptance of these terms
        and shall continue unless terminated as provided herein. Without prejudice to any other rights,
        the license granted herein terminates immediately if you fail to comply with any of the terms
        or conditions of this EULA. Either ENGworks or you may terminate this license at any time
        </p><br /><p>
        for any or no reason on notice to the other party. Upon any termination, you shall promptly
        discontinue use of the Software and must promptly return to ENGworks or destroy all copies
        of the Software and its component parts. Paragraphs 2, 3 and 7-10 hereof shall survive the
        termination hereof.
        </p><br /><p>
        6. Beta Versions. If this Software is designated as a “beta” or test version, you acknowledge
        and agree that the purpose of this limited license is the testing and evaluation of the Software.
        In furtherance of this purpose, you agree to provide feedback to ENGworks concerning the
        functionality and performance of the Software from time to time as reasonably requested by
        ENGworks, including, without limitation, identifying potential errors and improvements.
        Feedback and other information which is provided by you to ENGworks in connection
        with any beta Software may be used by ENGworks to improve or enhance its products or
        otherwise as deemed appropriate in ENGworks's sole discretion.
        </p><br /><p>
        7. Indemnity. You will defend any suit or proceeding brought against and will protect,
        indemnify, save and hold harmless ENGworks, its parent, subsidiaries and affiliates, and their
        collective directors, officers, employees and agents, from and against any and all suits, actions,
        proceedings, damages, losses, costs and expenses (including reasonable attorneys' fees) relating
        to or arising out of your license or use of the Software or any results or work produced there
        from, except such claims that derive from ENGworks's sole negligence.
        </p><br /><p>
        8. Limitation of Liability. UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL
        THEORY, TORT, CONTRACT, OR OTHERWISE SHALL ENGworks, ITS SUPPLIERS
        OR RESELLERS BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY SPECIAL,
        INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER
        ARISING FROM OR RELATED TO YOUR LICENSE, TERMINATION OF THE LICENSE,
        OR USE OF THE SOFTWARE, INCLUDING WITHOUT LIMITATION DAMAGES
        ARISING FROM LOSS OF GOODWILL, LOSS OF DATA OR PROGRAMMING, WORK
        STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, LOSS OF REVENUE OR
        PROFITS OR FAILURE TO REALIZE SAVINGS OR OTHER BENEFITS, OR ANY AND
        ALL OTHER COMMERCIAL DAMAGES OR LOSSES, EVEN IF ENGworks HAS BEEN
        ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ENGworks’S LIABILITY FOR
        DAMAGES FOR ANY CAUSE WHATSOEVER SHALL BE LIMITED TO THE PURCHASE
        PRICE OF THE INDIVIDUAL SEAT OF THE APPLICATION. THIS LIMITATION OF
        LIABILITY SHALL NOT APPLY TO THE EXTENT APPLICABLE LAW PROHIBITS
        SUCH LIMITATION. Certain third party services and web sites may display, include or make
        available content, data, information, applications or materials from third parties or provide links
        to certain third party web sites. Neither ENGworks, nor any of its content providers, guarantees
        the availability, accuracy, completeness, reliability, or timeliness of stock information or data
        displayed.
        </p><br /><p>
        9. Export Restrictions. You agree to comply with all applicable international and national laws
        that apply to Software, including U.S. Export Administration Regulations, as well as end-user,
        end-use, and destination restrictions issued by the U.S. and other governments.
        </p><br /><p>
        10. General. You may not assign or delegate any or all of your rights or duties or obligations
        hereunder without the written consent of ENGworks. ENGworks may freely assign this
        EULA in its discretion. These terms, once accepted by you, may be amended or modified only
        through an express written instrument signed by either parties or their respective successors
        and permitted assigns. Any party may waive in writing any term or any breach hereunder, but
        no such waiver shall constitute a further or continuing waiver of any preceding or succeeding
        breach of the same or any other provision. Each provision is intended to be severable. If any
        covenant, condition or other provision contained herein is held to be invalid or illegal by any
        court of competent jurisdiction, such provision shall be deemed severable and shall in no way
        affect, impair or invalidate any other covenant, condition or other provision contained herein. All
        notices or other communications which are required or are permitted to be given hereunder shall
        be in writing and shall be deemed given upon e-mail or facsimile transmission, as per addresses
        provided on ENGworks's website or provided via registration of the Software. A copy of any
        notice to ENGworks shall be sent by courier or certified mail to: ENGworks Attn: General
        Counsel, 833 West Jackson Blvd. Suite 400 Chicago, IL 60607. This Agreement shall be deemed
        to have been made in, and shall be construed pursuant to the laws of, the State of Illinois without
        reference to conflict of laws principles thereof. The parties expressly consent and agree that the
        proper jurisdiction and venue of any action regarding this matter shall be the State or Federal
        courts located in the State and County of Illinois. If any legal action is brought to enforce any
        provision of these terms, the prevailing party shall be entitled to receive its reasonable attorneys'
        fees and court costs in addition to any other relief it may be entitled. These terms constitute
        the complete and exclusive statement of the agreement of the parties hereto with respect to the
        license and use of the Software, and supersede all prior and concurrent agreements, promises,
        proposals, representations and warranties, oral or written, with respect to the subject matter
        hereof.</p>
    </body>
</html>
   @section Scripts
   {}