<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="BXC_MasterControlEntities"
         connectionString="metadata=res://*/BXC_MasterControl.csdl|res://*/BXC_MasterControl.ssdl|res://*/BXC_MasterControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=BXC_MasterControl;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="BXC_ContentContainer"
         connectionString="metadata=res://*/BXC_Content.csdl|res://*/BXC_Content.ssdl|res://*/BXC_Content.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=BXC_Content;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
    <add name="CDSModelContainer"
         connectionString="metadata=res://*/CDSModel.csdl|res://*/CDSModel.ssdl|res://*/CDSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BXC_Content;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ContentDirectory" value="C:\BIMXchange Content" />
    <add key="DownloadDirectory" value="C:\inetpub\wwwroot\ENGworks BIMXchange Downloads/CDS/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- This behavior enables API Key Verification -->
          <serviceAuthorization
serviceAuthorizationManagerType="CDWKS.Service.URLService.APIKeyAuthorization, CDWKS.Service.URLService" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>