<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="BXC_ContentModelEntities" connectionString="metadata=res://*/BXCContentEntityModel.csdl|res://*/BXCContentEntityModel.ssdl|res://*/BXCContentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BXC_Content;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>