<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true" >
  </startup>
  <appSettings>
    <add key="Root" value="C:\FTP\TreeViews"/>
  </appSettings>
  <connectionStrings>
    <add name="BXC_ContentModelEntities" connectionString="metadata=res://*/BXCContentEntityModel.csdl|res://*/BXCContentEntityModel.ssdl|res://*/BXCContentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BXC_Content;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
